In [ ]:
%load_ext sql
%sql sqlite:///airportDatabase.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @airportDatabase.db'

In [ ]:
%%sql
DROP TABLE IF EXISTS Ticket;
create table Ticket(ticketNumber text PRIMARY KEY, date text, price real, flightNumber text);

DROP TABLE IF EXISTS Plane;
create table Plane(planeID text PRIMARY KEY, planeSize text, planeYear text, amountOfSeats real);

DROP TABLE IF EXISTS Transactions;
create table Transactions(transactionID text PRIMARY KEY, destinationAirport text, SSN text, ticketPurchase text, flightNumber text, flightClearance text);

DROP TABLE IF EXISTS Pilot;
create table Pilot(pilotID text PRIMARY KEY, flightNumber text, yearsOfExperience real, flightClearance text);

DROP TABLE IF EXISTS SecurityMeasures;
create table SecurityMeasures(CheckPointLocation text PRIMARY KEY, metalFound text, liquidDetected text, sharpObjectDiscovery text);

 * sqlite:///airportDatabase.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [ ]:
%%sql
INSERT INTO Ticket VALUES ('23234', '2020-11-14', 200, '225');
INSERT INTO Ticket VALUES ('45786', '2020-11-14', 150, '145');
INSERT INTO Ticket VALUES ('49008', '2020-11-14', 375, '445');
INSERT INTO Ticket VALUES ('67881', '2020-11-18', 325, '130');
INSERT INTO Ticket VALUES ('56331', '2020-11-18', 470, '470');

INSERT INTO Plane VALUES ('6782', 'light', '2012', 50);
INSERT INTO Plane VALUES ('1456', 'light', '2017', 50);
INSERT INTO Plane VALUES ('4478', 'jumbo', '2019', 150);
INSERT INTO Plane VALUES ('1345', 'mid-size', '2020', 100);
INSERT INTO Plane VALUES ('5546', 'jumbo', '2019', 150);

INSERT INTO Transactions VALUES ('992', 'JFK', '524-23-2341', '23234', '225', 'yes');
INSERT INTO Transactions VALUES ('356', 'ALX', '134-80-6678', '45786', '145', 'yes');
INSERT INTO Transactions VALUES ('889', 'Pittsburgh International', '234-56-7890', '49008', '445', 'yes');
INSERT INTO Transactions VALUES ('990', 'RNO', '556-890-5567', '49008', '130', 'no');
INSERT INTO Transactions VALUES ('112', 'Arndold Palmer', '554-21-2234', '49008', '470', 'yes');

INSERT INTO Pilot VALUES ('245673', '225', 10, 'yes');
INSERT INTO Pilot VALUES ('377890', '145', 1, 'yes');
INSERT INTO Pilot VALUES ('456700', '445', 17, 'yes');
INSERT INTO Pilot VALUES ('213556', '130', 4, 'yes');
INSERT INTO Pilot VALUES ('890445', '470', 9, 'yes');

INSERT INTO SecurityMeasures VALUES ('A', 'yes', 'yes', 'no');
INSERT INTO SecurityMeasures VALUES ('B', 'no', 'no', 'no');
INSERT INTO SecurityMeasures VALUES ('C', 'no', 'yes', 'no');
INSERT INTO SecurityMeasures VALUES ('D', 'yes', 'no', 'no');
INSERT INTO SecurityMeasures VALUES ('E', 'no', 'no', 'no');

 * sqlite:///airportDatabase.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

How many customers are flying on the same date?

In [ ]:
%%sql
SELECT COUNT(date) FROM Ticket GROUP BY date

 * sqlite:///airportDatabase.db
Done.

[(3,), (2,)]

This question is important because it can help the aiport keep track of how many customers will be in the airport on a given day. This can help especially with covid to avoid capacity on a given date.

What is the average amount of years of experience a pilot has?

In [ ]:
%%sql
SELECT AVG(yearsOfExperience) FROM Pilot

 * sqlite:///airportDatabase.db
Done.

[(8.2,)]

This question is important because it helps the airport know around how much experience their pilots have. This will help keep the airport in check with their customers and will give a basis for future pilot prospects.

What flight number is arriving at JFK airport?

In [ ]:
%%sql
SELECT flightNumber FROM Transactions WHERE destinationAirport = "JFK"

 * sqlite:///airportDatabase.db
Done.

[('225',)]

This question is important because it ensures that the flight number that is given to a customer on their ticket is the correct one that is arriving at their destination. The output is what we expected because it is the flight number from the same row that JFK is in, which means that the customer was given the correct ticket. 

---